* {
  box-sizing: border-box;
}

.flex-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: radial-gradient( gold 50%, blue 50%, blue 70%, green 70%, green 100%);
}

.item {
  flex-basis: 100px;
  height: 100px;
  /* background-color: coral; */
  padding: 10px;
  border: 5px solid darkblue;
  margin: 10px;
}

/* .item:nth-child(2) {
  order: 1;
  flex-basis: 50px;
  height: 50px;
 align-self: end;
}  */

/* .item:nth-child(3) {
   order: 2;
  flex-basis: 70px;
  height: 70px;
}  */

/* .item:nth-child(3) {
  flex-shrink: 0;
}  */